/* style.css */

/* Set the color for the header */
h1, h2, h3, h4, h5, h6 {
    color: lightgreen;
}

/* Set the color for the sidebar header */
.sidebar .sidebar-content h2 {
    color: pink;
}

/* Specific colors for the sections */
h2:contains('Instructions🪴') {
    color: orange;
}

h2:contains('Model Information') {
    color: lightblue;
}

h2:contains('Contact') {
    color: red;
}

/* General styling */
body {
    font-family: 'Arial', sans-serif;
}

/* Custom class names for more control */
.options-header {
    color: pink;
}

.instructions-header {
    color: orange;
}

.model-info-header {
    color: lightblue;
}

.contact-header {
    color: red;
}

.tomato-disease-header {
    color: lightgreen;
}

/* Reduce the gap between the sidebar and the main content */
.css-1d391kg {
    padding: 0 !important;
}
